server {
    listen localhost:8008;
    root /Users/absaid;
    max_body_size 300M;
    allow GET DELETE POST;
    
    upload_path /Users/absaid/goinfre/up/;

    location /all {
        root /Users/absaid/Desktop/toPush;
        autoindex ON;
    }
    location /gp {
        root /Users/absaid/Desktop/toPush;
        autoindex ON;
        allow GET POST;
    }
    location /gd {
        root /Users/absaid/Desktop/toPush;
        autoindex ON;
        allow GET DELETE;
    }
    location /pd {
        root /Users/absaid/Desktop/toPush;
        autoindex ON;
        allow POST DELETE;
    }
    location /walo {
        root /Users/absaid/Desktop/toPush;
        autoindex ON;
        allow POST DELETE;
    }


}