

server {
    listen localhost:87;
    location / {
        autoindex ON;
        root /Users/mnassi/Desktop/1337/WebServer;
        allow GET DELETE;
    }
    location /hahua {
        autoindex ON;
        root /Users/mnassi/Desktop/1337/WebServer/Webserv_Template;
        allow GET POST;
    }
    location /test/c {
        autoindex ON;
        root /Users/mnassi/Desktop/1337/WebServer/Webserv_Template;
        allow GET DELETE;
    }
    location /test/gci {
        autoindex ON;
        root /Users/mnassi/Desktop/1337/WebServer;
        allow GET DELETE;
    }
}
