

server { 
    listen localhost:460;
    location / {
        autoindex ON;
        #root /Users/zmakhkha/Desktop/Webserv/Webserv_Template;
        #root /Users/zmakhkha/Desktop/Webserv/Webserv_Template;
        root /Users/zmakhkha/Desktop/topush/scripts;
        index cgi_1.htlm cgi_2.htdml upload.html;
        cgi php /Users/zmakhkha/Desktop/topush/cgi-bin/php-cgi;
        allow GET DELETE;
    }
    
}

