server { 
    listen localhost:8009;
    location / {
        autoindex ON;
        root /Users/zmakhkha/Desktop/WebServer/src/Cgi/php;
        allow GET DELETE POST;
    }

    location / {
        autoindex ON;
        root /Users/zmakhkha/Desktop/WebServer/Webserv_Template;
        allow GET DELETE;
    }
    location /hahua {
        autoindex ON;
        root /Users/zmakhkha/Desktop/WebServer/Webserv_Template;
        allow GET POST;
    }
    location /test/c {
        autoindex ON;
        root /Users/zmakhkha/Desktop/WebServer;
        allow GET DELETE;
    }
    location /test/gci {
        autoindex ON;
        root /Users/zmakhkha/Desktop/WebServer;
        allow GET DELETE;
    }
}
