#part 1
server {
    listen e2r7p3.1337.ma:8008;
    error_page 404 ./error_pages/404.html;
    root /Users/mnassi/Desktop;
    max_body_size 2G;
    allow GET DELETE POST;
    upload_path /Users/mnassi/goinfre/up/;
    location / {
        root /Users/mnassi/Desktop;
        allow GET;
        index 4353.html asdf.html 400.html;
    }
    location /GET_ {
        root /Users/mnassi/Desktop/circle;
        allow GET;
        autoindex ON;
    }
    location /GETRE {
        allow GET;
        redirect 301 http://www.youtube.com;
        autoindex ON;
    }
    location /POST {
        autoindex ON;
        allow POST GET;
    }
    location /DELETE {
        root /Users/mnassi/Desktop/toPush/test;
        allow DELETE;
    }
}
