server {
    listen laloli.com:8080;
    server_name laloli.com;
    root /Users/mnassi/Desktop;
    max_body_size 1500M;
    allow GET DELETE POST;
    upload_path /Users/mnassi/goinfre/up/;
    location / {
        root /Users/mnassi/Desktop/toPush/public;
        autoindex ON;
        allow POST GET;
        cgi php /Users/mnassi/Desktop/toPush/cgi-bin/php-cgi;
    }
}

server {
    listen localhost:8080;
    root /Users/mnassi/Desktop;
    max_body_size 2B;
    allow GET DELETE POST;
    upload_path /Users/mnassi/goinfre/up/;
    location / {
        root /Users/mnassi/Desktop/toPush/public;
        autoindex ON;
        allow GET POST;
        cgi php /Users/mnassi/Desktop/toPush/cgi-bin/php-cgi;
    }
}
