#part 1
server {
    listen localhost:8008;
    max_body_size 2G;
    allow GET DELETE POST;
    root /Users/zmakhkha/Desktop;
    upload_path /Users/zmakhkha/goinfre/up/;
    location /py {
        root /Users/zmakhkha/Desktop/toPush/public/scripts/py;
        allow GET POST;
        autoindex ON;
        cgi py /usr/bin/python;
    }
    location /php {
        root /Users/zmakhkha/Desktop/toPush/public/scripts/php;
        allow GET POST;
        autoindex ON;
        cgi php /Users/zmakhkha/Desktop/toPush/cgi-bin/php-cgi;
    }
}
