#part 1
server {
    listen localhost:8008;
    root /Users/zmakhkha/goinfre/up;
    max_body_size 2G;
    allow GET DELETE POST;
    upload_path /Users/zmakhkha/goinfre/up/;
    location / {
        allow GET;
        index 4353.html asdf.html 400.html;
    }
    location /GET_ {
        allow GET;
        autoindex ON;
    }
    location /POST {
        autoindex ON;
        allow POST GET;
    }
    location /DELETE {
        root /Users/zmakhkha/Desktop/toPush/test;
        allow DELETE;
    }
}
