server {
    listen 127.0.0.1:8080;
    root /Users/zmakhkha/Desktop;
    max_body_size 2B;
    allow GET DELETE POST;
    upload_path /Users/zmakhkha/goinfre/up/;
    location / {
        root /Users/zmakhkha/Desktop/toPush/public;
        autoindex ON;
        allow GET POST;
        cgi php /Users/zmakhkha/Desktop/toPush/cgi-bin/php-cgi;
    }
}




server {
    listen laloli.com:8080;
    server_name laloli.com;
    root /Users/zmakhkha/Desktop;
    max_body_size 1500M;
    allow GET DELETE POST;
    upload_path /Users/zmakhkha/goinfre/up/;
    location / {
        root /Users/zmakhkha/Desktop/toPush/public;
        autoindex ON;
        allow POST GET;
        cgi php /Users/zmakhkha/Desktop/toPush/cgi-bin/php-cgi;
    }
}