@font-face {
    font-family: reg;
    src: url(Barlow-Regular.ttf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}
body {
    background-color: #222831;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: #EEEEEE;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    height: 100svh;
}
.header {
    background-color: #393E46;
    width: 914px;
    font-weight: bold;
    height: 129px;
    border-radius: 25px;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    opacity: 0;
}
.header div {
    padding: 15px 40px;
    border-radius: 25px;
    transition: .3s;
    cursor: pointer;
}
.header div a {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #EEEEEE;
}
.header .home a {
    color: #393E46;
}
.home {
    background-color: #EEEEEE;
}
.pictures {
    display: flex;
    justify-content: center;
    align-content: center;
    transform: translateY(100%);
    opacity: 0;
}
.pic {
    width: 435px;
    height: 461px;
    margin-left: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pictures div {
    text-align: center;
    margin-bottom: 150px;
    text-transform: capitalize;
    font-family: reg;
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 15px;
}
.pictures div a {
    color: #EEEEEE;
    text-decoration: none;
    cursor: pointer;
    transition: .2s;
}
.pictures div a:hover {
    color: #939393;
}
.absaid div {
    background: url("https://media.licdn.com/dms/image/D4E22AQFQo-4CRN078A/feedshare-shrink_800/0/1698892471876?e=1704326400&v=beta&t=vZfrEkBlBEd3sZjNntY7iqoOaO7rWzJ_dkVU-uF61lU");
    background-size: cover;
    background-position: -150px;
    border-top: 5px solid #EEEEEE;
    border-right: 5px solid #EEEEEE;
    border-left: 5px solid #9e9e9e;
    border-bottom: 5px solid #9e9e9e;
    font-weight: bolder;
    transition: .5s;
}
.mnassi div {
    background: url("https://cdn.intra.42.fr/users/29a8a6aa878cdfaa350b73c855aab2cd/mnassi.jpg");
    background-size: cover;
    background-position: 0px -10px;
    border-top: 5px solid #EEEEEE;
    border-right: 5px solid #EEEEEE;
    border-left: 5px solid #9e9e9e;
    border-bottom: 5px solid #9e9e9e;
    transition: .5s;
}
.zmakhkha div {
    background: url("d.jpeg");
    background-size: cover;
    background-position: 0px;
    border-top: 5px solid #EEEEEE;
    border-right: 5px solid #EEEEEE;
    border-left: 5px solid #9e9e9e;
    border-bottom: 5px solid #9e9e9e;
    transition: .5s;
}
.header div:hover {
    background-color: #eeeeee50;
}
.copy {
	position: absolute;
	font-family: reg;
	font-size: 15px;
    bottom: 10px;
    right: 10px;
}