@font-face {
    font-family: reg;
    src: url(Barlow-Regular.ttf);
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	background-color: #222831;
	height: 100svh;
}
.top {
	margin-bottom: 50px;
	border: 3px solid #393E46;
	font-weight: lighter;
	letter-spacing: 3px;
	padding: 20px;
	border-radius: 20px;
	font-size: 45px;
	font-family: reg;
	background-color: #393e4696;
	color: #EEEEEE;
	opacity: 0;
}
.bottom {
	opacity: 0;
}
.bottom a {
	color: black;
	text-decoration: none;
	background-color: #EEEEEE;
	font-family: reg;
	padding: 10px 50px;
	border-radius: 10px;
	transition: .4s;
}
.bottom a:hover {
	background-color: #eeeeee9a;
}
.bottom a:active {
	scale: .9;
}
.copy {
	position: absolute;
	font-family: reg;
	font-size: 15px;
    bottom: 10px;
    right: 10px;
}