server {
    index public/Webserv_Template/index.html;
    error_page 404 error_pages/404.html;
    upload_path /Users/zmakhkha/Desktop/WebServer/up;
    listen localhost:7600;
    max_body_size 40M;
    location / {
        autoindex ON;
        root /home/zakaria/WebServer/public;
        index index.htlm index.htm;
        cgi py  /usr/bin/python3;
        allow GET POST;
    }
}