server {
    index public/Webserv_Template/index.html;
    error_page 404 error_pages/404.html;
    upload_path /Users/zmakhkha/Desktop/WebServer/upload;
    listen 8080;
    root ./public;
    server_name webeserver;
    max_body_size 40M;
    redirect 403 http://www.google.com;
    location / {
        autoindex ON;
        root /Users/zmakhkha/Desktop/WebServer/public;
        index index.htlm index.htm;
        cgi php /Users/zmakhkha/Desktop/WebServer/cgi-bin/php-cgi;
        cgi py /Users/zmakhkha/Desktop/WebServer/cgi-bin/python-cgi;
        allow GET ;
    }
    
    location /php {
        autoindex ON;
        root /Users/zmakhkha/Desktop/WebServer/public/scripts/php;
        cgi php /Users/zmakhkha/Desktop/WebServer/cgi-bin/php-cgi;
        allow GET POST;
    }
    location /py {
        autoindex ON;
        root /Users/zmakhkha/Desktop/WebServer/public/scripts/py;
        cgi py /Users/zmakhkha/Desktop/WebServer/cgi-bin/py-cgi;
        allow GET POST;
    }
}

server {
    index public/Webserv_Template/index.html;
    error_page 404 error_pages/404.html;
    upload_path /Users/zmakhkha/Desktop/WebServer/upload;
    listen 8080;
    root ./public;
    server_name webeserver;
    max_body_size 40M;
    #redirect ;
    location / {
        autoindex ON;
        root /Users/zmakhkha/Desktop/WebServer/public;
        index index.htlm index.htm;
        cgi php /Users/zmakhkha/Desktop/WebServer/cgi-bin/php-cgi;
        cgi py /Users/zmakhkha/Desktop/WebServer/cgi-bin/python-cgi;
        allow GET ;
    }
    
    location /php {
        autoindex ON;
        root /Users/zmakhkha/Desktop/WebServer/public/scripts/php;
        cgi php /Users/zmakhkha/Desktop/WebServer/cgi-bin/php-cgi;
        allow GET POST;
    }
    location /py {
        autoindex ON;
        root /Users/zmakhkha/Desktop/WebServer/public/scripts/py;
        cgi py /Users/zmakhkha/Desktop/WebServer/cgi-bin/py-cgi;
        allow GET POST;
    }
}
