server{ listen zb; listen 80;      ls ;     
    server_name 127.0.0.1:8080;   
    index index.html index.htm index.php;   
    root /www/my_prj;   





    #zb_li_fkrk   


    location /{     
        autoindex on;   
        index index.php;   
        root /www/my_prj;   
    }
    cgi ./www/cgi_files   ;
    location /py {     
        index index.html index.htm index.php;    
        root /www/my_prj2;    
    } 
} 
server     {    
    zb; #sd;    
}    

server{listen 80;root khroztk;location /{autoindex on;zbi f krk;}}


