

server {
    listen 80;
    server_name 127.0.0.1:8080;
    index index.html index.htm index.php;
    root /www/my_prj;

    location / {
        autoindex on;
        index index.php;
        root /www/my_prj;
    }
    cgi ./www/cgi_files    
    location /py {
        index index.html index.htm index.php;
        root /www/my_prj2;
    }
}