

server { listen port:8080;

 redirect 301 www.google.com;
    max_body_size 3G;
	error_page 599 ./html/404.html;
	location /tuu 
	{
        max_body_size 3K;
        redirect 301 www.google.com;
        cgi py /usr/main.py;
        index index.html;
        allow POST  DELETE;
        root /asdfsd/asfasdf/asdfas3;
    }


    server_name zbuba;
    index lkas ljasf alsjf;
     location /test {
        max_body_size 12G;
		redirect 301 www.google.com;
        cgi py /usr/main.py;  
        index index.html;
        root /asdfsd/asfasdf/asdfas6;
    }
}
